@import "tailwindcss";


@layer base {
  button {
    @apply cursor-pointer;
    color: inherit; /* Stop the browser from forcing white text */
  }
}

body {
  @apply bg-gray-50 text-gray-900 font-sans;
}